body {
  background: #f3f4f6;
  font-family: Arial;
}

.container {
  width: 350px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

input, select, button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
}
